<div class="container-fluid">
  <div class="page-header">
    <h1><%= @trip.title %></h1>
    <% if @trip.user.id == current_user.id %>
      <button class="btn btn-primary new-button" data-toggle="modal" data-target="#newModal" data-tripid=<%= @trip.id %>>Create New Entry</button>

      <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newModalLabel">Create New Entry</h4>
          </div>
          <div class="modal-body">
            <%= form_for [@trip,@entry] do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :location %>
              <%= f.text_field :location, class:"form-control search_location"%>
            </div>
            <div class="form-group">
              <%= f.label :summary %>
              <%= f.text_area :summary, class:"form-control"%>
            </div>
            <div class="form-group">
              <%= f.label :cost %>
              <%= f.text_field :cost, class:"form-control"%>
            </div>
            <div class="form-group">
              <%= f.label :image %>
              <%= f.uploadcare_field :image, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :date %><br>
              <%= f.text_field :date, class:"form-control datepicker" %>
            </div>
            <div class="form-group">
              <%= f.label :video_url %>
              <%= f.text_field :video_url, class:"form-control" %>
            </div>
            <%= f.submit class:"btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="alert alert-danger">
    <ul>
      
    </ul>
  </div>
</div>
<div class="container entry-container">
  <% @trip.entries.each do |entry| %>
  <div id="entry<%= entry.id %>">
    <div class="well col-md-8 col-md-offset-2">
      <h3><%= entry.title %></h3>
      <small><%= entry.date%></small>
      <h4><span><%= entry.location %></span></h4>
      <p class="summary"><span><%= entry.summary %></span></p>
      <p class="cost"><span><%= entry.cost %></span></p>
      <img src="<%= entry.image %>" alt="pic" class="img-responsive image">
      <div class="video_url"><%= entry.video_url.html_safe %></div>
    
    <% if @trip.user.id == current_user.id %>
      <button data-entryId=<%= entry.id %> type="button" class="btn btn-info edit" data-toggle="modal" data-target="#<%= entry.id %>Modal">Edit</button>
      <button data-entryId=<%= entry.id %> class="btn btn-danger delete">Delete</button>
    </div>

    <div class="modal fade entry-modal" id="<%= entry.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="<%= entry.id %>Modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="<%= entry.id %>ModalLabel">Edit Entry</h4>
          </div>
          <div class="modal-body">
            <%= form_for entry, html: {:"data-entryid" => entry.id} do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :location %>
              <%= f.text_field :location, class:"form-control search_location"%>
            </div>
            <div class="form-group">
              <%= f.label :summary %>
              <%= f.text_area :summary, class:"form-control"%>
            </div>
            <div class="form-group">
              <%= f.label :cost %>
              <%= f.text_field :cost, class:"form-control"%>
            </div>
            <div class="form-group">
              <%= f.label :image %>
              <%= f.uploadcare_field :image, class:"form-control" %>
            </div>
            <div>
              <%= f.label :date %><br>
              <%= f.text_field :date, class:'form-control datepicker' %>
            </div>
            <div class="form-group">
              <%= f.label :video_url %>
              <%= f.text_field :video_url, class:"form-control" %>
            </div>
            <%= f.submit class:"btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>
</div>