<div class="container-fluid">
  <div class="page-header">
    <h1>Travel Log Login</h1>
  </div>
</div>
<div class="jumbotron">
  <div class="container-fluid">
    <%= bootstrap_form_tag url: '/login' do  |f| %>
      <%= f.text_field :username %>

      <%= f.password_field :password %>
      <%= f.submit "Log in", class:'btn btn-primary' %>
    <% end %>
    <br>
    <p class="pull-left"><%= link_to "Don't have an account? Sign up here", signup_path%></p>

    <p class="pull-right"><%= link_to "Forgot your password?", new_reset_path %></p>
  </div>
</div>
