<% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this user from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<%= form_for @user do |f|%>
  <%=f.label :username%>
  <%=f.text_field :username, class: "form-control" %>

  <!-- ADD UPLOADCARE API BELOW -->
  <%=f.label :profile_pic%>
  <%=f.uploadcare_field :profile_pic, class: "form-control" %>

  <%=f.label :bio%>
  <%=f.text_field :bio, class: "form-control" %>

  <%=f.label :email%>
  <%=f.text_field :email, class: "form-control" %>
  
  <%= f.submit class: "btn btn-primary" %>
<%end%>