<div class="container-fluid">
  <div class="page-header">
    <h1 class="text-center">All Trips</h1>
  </div>
</div>
<div class="container">
  <% @trips.each do |t|%>
    <div class="well col-md-8 col-md-offset-2">
      <div class="row">
        <h3 class="pull-left"><%= link_to t.title, t %> <small>by <%= link_to t.user.username, t.user %></small></h3>
        <h3 class="pull-right"><%= t.location%></h3>
      </div>
      <div class="row">
        <p><strong>Trip Duration: </strong><%= t.duration%></p>
        <p><strong>Trip Budget:</strong> <%= t.budget%></p>
      </div>
    </div>
  <%end%>
</div>