<div class="container-fluid">
  <div class="page-header">
    <h1><%= @user.username %>'s Profile</h1>
    <% if @user.id == current_user.id %>
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>

    <%= link_to "Delete", @user, method: :delete, data: {alert: "Are you sure?"}, class: "btn btn-danger" %>
  <%end%>
  </div>
</div>

<div class="container">
  <h3>Username:</h3>
  <p><%=@user.username%></p>

  <h3>Profile Pic:</h3>
  <p><img src="<%=@user.profile_pic%>" alt="profile pic" class="profile-pic img-responsive"></p>

  <h3>Biography:</h3>
  <p><%=@user.bio%></p>

  <h4>Trip(s):</h4>

  <% @user.trips.each do |t| %>
    <div class="well col-md-4">
      <p>
        Trip: <%= link_to t.title, t %>
      </p>
      <p>
        Destination: <%= t.location %>
      </p>
      <p>
        Summary: <%= t.summary%>
      </p>
    </div>
  <%end%>

  
  
</div>