
<h1 class="text-center"><%= @user.username %>'s Profile</h1>

<div class="container">
  <div class="row">
    <div class="thumbnail col-xs-8 col-xs-offset-2 ">
      
      <!-- <h3 class="text-center"><%=@user.username%></h3> -->
      <img src="<%=@user.profile_pic%>" alt="profile pic" class="profile-pic img-responsive">

      <h5>Biography:</h5>
      <p><%=@user.bio%></p>

  <h4 class="text-left">Trip(s):</h4>
  <div class="container">
    <div class="col-xs-10">
      <div id="map" style='width: 450px; height: 400px;'></div>
    </div>
  </div>

  <% @user.trips.each do |t| %>
    <div class="well well-sm">
      <p>
        Trip: <%= link_to t.title, t %>
      </p>
      <!-- <p>
        Destination: <%= t.location %>
      </p> -->
      <p>
        Summary: <%= t.summary%>
      </p>
    </div>
  <%end%>

  <!-- <h5>Profile Pic:</h5> -->

    <% if @user.id == current_user.id %>
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info btn-block" %>

    <%= link_to "Delete", @user, method: :delete, data: {alert: "Are you sure?"}, class: "btn btn-danger btn-block" %>
  <%end%>
      
    </div>

  </div>

  
  
</div>
<script>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){    
    markers = handler.addMarkers(<%=raw @hash.to_json %>)
    infowindow: "hello!"
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(2);
  });
</script>