<h1>User ####Show</h1>

<h3>Username:</h3>
<p><%=@user.username%></p>

<h3>Profile Pic:</h3>
<p><%=@user.profile_pic%></p>

<h3>Biography:</h3>
<p><%=@user.bio%></p>

<h4>Trip(s):</h4>

<% @user.trips.each do |t| %>
  <p>
    <%= link_to t.title, t %>
  </p>
  <p>
    <%= t.summary%>
  </p>
<%end%>

<% if @user.id == current_user.id %>
  <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>

  <%= link_to "Delete", @user, method: :delete, data: {alert: "Are you sure?"}, class: "btn btn-danger" %>
<%end%>