<h1>User ####Show</h1>

<h3>Username:</h3>
<p><%=@user.username%></p>

<h3>Profile Pic:</h3>
<p><%=@user.profile_pic%></p>

<h3>Biography:</h3>
<p><%=@user.bio%></p>

<h4>Trip(s):</h4>

<% @user.trips.each do |t| %>
  <%= link_to t do%>
    <%= t.title%>
  <%end%>
<p>
  <%= t.summary%>
</p>
<%end%>
<% if ensure_correct_user%>
<%= link_to "Edit", edit_user_path(current_user), class: "btn btn-info" %>

<%= link_to "Delete",current_user, method: :delete, data: {alert: "Are you sure?"}, class: "btn btn-danger" %>
<%%>