<!DOCTYPE html>
<html>
<head>
  <title>TravelLog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <%= csrf_meta_tags %>
  <%= include_uploadcare_widget_from_cdn version: "1.5.5", min: true %>
  <%= uploadcare_settings %>
  <%#= include_uploadcare_widget_from_cdn version: "1.5.5", min: true %>
  <%#= uploadcare_settings %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry"></script>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
    <!-- <div class="container-fluid"> -->
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="http://cdn9.staztic.com/app/a/1266/1266301/diplomat-travel-journal-141647-l-280x280.png" max-width="50px" height="50px" class="pull-left">
          <% if session[:user_id]%>
            <p class="navbar-text">User logged in: <strong><%= current_user.username %></strong></p>
          <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if session[:user_id] == nil%>
            <li><%= link_to 'Login', login_path %></li>
          <% else %>
            <li><%= link_to 'My Trips', user_trips_path(current_user) %></li>
            <li><%= link_to 'Create New Trip', new_user_trip_path(current_user) %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% end %>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>
<%= yield %>
</body>

</html>
